<table border="1" class="table">
    <thead>
        <tr>
            <th>
                Image
            </th>
            <th>
                Name
            </th>
            <th>
                Description
            </th>
            <th>
                Price
            </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let ktab of books">
            <td>
                <img [src]="ktab.imageUrl" height="150">
            </td>
            <td>{{ktab.name}}</td>
            <td>{{ktab.description}}</td>
            <td>{{ktab.unitPrice | currency :'INR'}}</td>
        </tr>
    </tbody>
</table>